body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-top: 50px;
}

.role-selection {
    margin-top: 100px;
}

.role-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.role-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.answer-btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: #45a049;
}
